<html>

<head>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
  <style>
    html *
    {
       font-family: Source Sans Pro !important;
    }
  </style>
  <center>
    <br><br><br>
    <h1>Round {{num}}</h1>
  </center>
</head>
<body>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<br><br><br><br><br><br><br>
<center><h1 class="display-1">{{rule}}</h1></center>

<center><a href='/home/{{num}}' ><button type="button" class="btn btn-primary">Contestants</button></a></center>
</body></html