<html>

<head>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
  <style>
    html *
    {
       font-family: Source Sans Pro !important;
    }
  </style>
  <center>
    <br><br><br>
    <h1>Beauty Pageant</h1>
    <h4>Rules</h4>
  </center>
</head>
<body>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<br><br>
<div class="d-flex">
  <ul class="list-group mx-auto justify-content-center">
    <li class="list-group-item"><h4>1. 5 Rounds, 5 hints</h4></li>
    <li class="list-group-item"><h4>2. Each team has to submit 1 photo that best fits the hint</h4></li>
    <li class="list-group-item"><h4>3. The photo should only include 1 person</h4></li>
    <li class="list-group-item"><h4>4. Each team has 3 minutes to pick a contestant, after which all contestants are showcased</h4></li>
    <li class="list-group-item"><h4>5. Everyone can then vote for their favourite</h4></li>    
  </ul>
</div>
<br><br>
<center><a href='/round/1' ><button type="button" class="btn btn-primary {{show}}">Begin</button></a></center>
</body></html