<html>

<head><link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
  <style>
    html *
    {
       font-family: Source Sans Pro !important;
    }
  </style></head>
<body>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div class="container-fluid pt-3">
<div class="card-columns">
<div class="card">
<img class="card-img-top" src={{link0}} style="width:100%; height: 200px;"/><center>A: {{name0}}</center>
</div>
<div class="card">
<img class="card-img-top" src={{link1}} style="width:100%; height: 200px;"/><center>B: {{name1}}</center>
</div>
<div class="card">
<img class="card-img-top" src={{link2}} style="width:100%; height: 200px;"/><center>C: {{name2}}</center>
</div>
<div class="card">
<img class="card-img-top" src={{link3}} style="width:100%; height: 200px;"/><center>D: {{name3}}</center>
</div>
<div class="card">
<img class="card-img-top" src={{link4}} style="width:100%; height: 200px;"/><center>E: {{name4}}</center>
</div>
<div class="card">
<img class="card-img-top" src={{link5}} style="width:100%; height: 200px;"/><center>F: {{name5}}</center>
</div>
<div class="card">
<img class="card-img-top" src={{link6}} style="width:100%; height: 200px;"/><center>G: {{name6}}</center>
</div>
<div class="card">
<img class="card-img-top" src={{link7}} style="width:100%; height: 200px;"/><center>H: {{name7}}</center>
</div>
<div class="card">
<img class="card-img-top" src={{link8}} style="width:100%; height: 200px;"/><center>I: {{name8}}</center>
</div>
</div>
</div>

<center><a href='/round/{{round}}' ><button type="button" class="btn btn-primary">Next Round</button></a></center>
</body></html